body {
    font-size: 62.5%;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 25px;
    padding: 25px;
}


header {
    background-color: rgb(15, 15, 15);
}

.logo {
    padding: 10px;
}

.logo :hover{
    transition: all 0.5s;
    transform: scale(150%)rotate(-15deg);
}

nav {
    list-style: none;
}

.nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: flex-end;
    gap: 10px;
}


.nav-link {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

.nav-menu-items {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin: 5px;
    text-transform: uppercase;       
}

.nav-menu-items :hover {
    background-color: goldenrod;
    color: black;
}

#letrafinde {
    font-size: 60px;
    text-align: center;
    padding-top: 180px;
}

#fotos-dj {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#dj1 {
   padding-left: 300px;   
}

#dj1 :hover{
    transition: all 0.5s;
    transform: rotate(-15deg)scale(150%);    
}

#dj2 :hover {
 transition: all 0.5s;
 transform: rotate(15deg)scale(150%);   
}

.calendario {
    text-align: center;
    font-size: 15px;
}

.weekdays div{
    display: grid;
    grid-template-columns: 7;
    grid-template-rows: 5;
    width: 9.6%;
    color: grey;
    text-align: center;
    padding: 10px;
    border: solid 2px white;
}

#reservas {
    text-align: center;
    font-size: 20px;
    float: left;
    margin-left: 280px;
    margin-top: 100px;
}

#reservas-2 {
    text-align: center;
    font-size: 40px;
    padding-top: 35px;
}

#contacto {
    float: left;
    margin-top: 200px;
    margin-left: -145px;
}

#encontranos {
    float: right;
    padding-right: 290px;
    padding-top: 100px;
}

#container {
    text-align: center;
    
}

#nc {
    font-size: 30px;
    text-align: center;
    padding: 25px;
}

#menucomidas {
    text-align: center;
}

#menutragos {
    text-align: center;
}



#tr {
    font-size: 30px;
    text-align: center;
    padding: 25px;
}

#ct {
    font-size: 30px;
}

#rv {
    font-size: 30px;
}

#ec {
    font-size: 30px;
}

#pe {
    font-size: 30px;
    text-align: center;
    padding: 25px;
}

#pl {
    font-size: 30px;
    text-align: center;
    padding: 25px;
}

#pie {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
}

div.img {
    margin: 5px;
    float: left;
    width: 150px;
    height: 150px;
    margin-left: 130px;
    font-size: 15px;
    transition: all 0.5s;
}

div.img:hover {
    transform: scale(150%);
    border: 2px solid goldenrod;
    background-color: black;
}

div.desc {
    padding: 15px;
    text-align: center;
}

hr {
    color: white;
    margin-top: 1000px;
}

.boton-reserva a {
    background-color: rgba(67, 67, 67, 0.568);
    color: black;
    border: 2px solid goldenrod;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.boton-reserva a:hover {
    background-color: goldenrod;
    color: black;
}

#leyendas {
    font-size: 16px;
}

#leyendas a {
    text-decoration: none;
    color: white;
}